
.theme-btn {
    position: relative;
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    background: $theme-color;
    overflow: hidden;
    z-index: 1;
    border-radius: 100px;
    transition: color .4s ease;

    img {
        margin-right: 5px;
        margin-top: -3px;
    }

    i {
        margin-left: 5px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 0px;
        background: $header-color;
        z-index: -1;
        transition: transform .45s ease;
    }

    &::before {
        transform: translateX(-100%);
    }

    &::after {
        transform: translateX(100%);
    }

    &:hover {
        color: $white;

        &::before {
            transform: translateX(-49%);
        }

        &::after {
            transform: translateX(49%);
        }
    }
}


.link-btn {
   color: $theme-color;
   font-size: 16px;
   font-weight: 600;
   display: inline-block;
   font-family: $heading-font;

   i {
     margin-left: 5px;
     color: $theme-color;
   }
}
